body{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 150px;
    margin: 0;
}
h1{
    font-size: 47px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color: orange;
}
.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#FB6856, #F88466);
    padding: 10px 40px;
    border-radius: 10px;
}
.flexible-area{
    display: flex;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding-left: 24px;
    padding-bottom: 150px;
}
.half-width{
    width: 50%;
    float: left;
    
}
.half-width img{
    width: 90%;
}
.resume-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(#FF3A88, #FF3384);
    padding: 10px 40px;
    border-radius: 10px;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-item{
    width: 40%;
    padding: 10px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
}
#full-stack-web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(#FB6756, #FA6F5B);
    border-image-slice: 1;
}
#baby-web-developer{
    border-left: 7px solid;
    border-image: linear-gradient(#0006FF, #00FCFF);
    border-image-slice: 1;
}